This is for the adapter.

<button {{action 'outputUrls'}}>Output URLs</button>

<h4>URLs</h4>
<ul>
{{#each-in urls as |key value|}}
  <li>{{key}}, {{value.requestType}} {{value.url}}</li>
{{/each-in}}
</ul>
